@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
}
/* navbar styles Starts */

.nav-btn{
background-color: #1D4ED8;
padding: 14px 28px;
border-radius: 10px;
font-weight: bold;
font-size: 16px;
color: white;
border: none;
line-height: 24px;
}

header{
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 12px 0;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
    
}

ul li a{
    text-decoration: none; 
    color: #575757;
    
}
/* navbar styles Ends */

/* Hero Section Starts */

.hero-section{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    background-image:
    linear-gradient(
        to right,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0)
    ),
    url("/assets/banner.jpg");
    background-size: cover;
    background-position: center 75%;
    background-repeat: no-repeat;
    height: 750px;

}

.hero-content{
    text-align: center;
}
.hero-content h1{
    font-size: 80px;
    color: white;
    margin-bottom: 16px;
}
.hero-content p{
    font-weight: 400;
    font-size: 22px;
    color: white;
    margin-bottom: 285px;
    max-width: 830px;
}


.hero-btn{
    background-color: #1D4ED8;
    padding: 25px 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    color: white;
    border: none;
    line-height: 24px;
    
}
.hero-btn:hover {
    background-color: blue;
}
/* Hero Section Ends */